/*** 彡★ IZZY WAS HERE — MADE BY IZZY 彡★  ***/

@import url('https://raw.githubusercontent.com/izzyteixeira/izzys-portfolio/main/css/style.css');

body {
  background: blue;
  background-attachment: fixed;
  color: red;
  font-family: var(--cursive, "Comic Sans MS", "Comic Sans", cursive);
  font-size: 100%;
}
